.wrapper {
	box-sizing: border-box;
	position: relative;
	height: clamp(120px, 13vw, 210px);
	margin-top: -18px;
	background: #140032;
	overflow: hidden;
}

.custom-shape-divider-bottom-1685513857 {
	position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1685513857 svg {
	position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.custom-shape-divider-bottom-1685513857 .shape-fill {
	fill: #140032;
}
.dark-mode .custom-shape-divider-bottom-1685513857 .shape-fill {
	fill: #140032;
}

@media (min-width: 768px) {
	.custom-shape-divider-bottom-1685513857 svg {
		height: clamp(145px, 12vw, 210px);
	}

}
@media (min-width: 1200px) {
	.custom-shape-divider-bottom-1685513857 svg {
		height: clamp(165px, 11vw, 240px);
	}
}
