.wrapper {
	box-sizing: border-box;
	position: relative;
	height: clamp(95px, 11vw, 180px);
	margin-top: -6px;
	background: var(--pure-black);
	overflow: hidden;
}

.custom-shape-divider-bottom-1685513857 {
	position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1685513857 svg {
	position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 100%;
}

.custom-shape-divider-bottom-1685513857 .shape-fill {
	fill: rgb(228, 228, 228);
}
.dark-mode .custom-shape-divider-bottom-1685513857 .shape-fill {
	fill: var(--pure-black);
}

@media (min-width: 768px) {
	.custom-shape-divider-bottom-1685513857 svg {
		width: calc(138% + 230.8px);
		height: clamp(140px, 11vw, 195px);
	}

}
@media (min-width: 1200px) {
	.custom-shape-divider-bottom-1685513857 svg {
		width: calc(118% + 760px);
		height: clamp(160px, 10vw, 220px);
	}
}
